@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Sofia+Sans&display=swap');

body{
    max-width: 1600px ;
    margin: 0 auto;
    text-align:center ;
    background-color:#284b63;
    font-family: "Sofia Sans",Helvetica, sans-serif; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color:#3c6e71;
    font-family: "Sofia Sans",Helvetica, sans-serif; ;
}
nav a{ 
    text-align:center;
    color:white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #3c6e71 ;
    color: white;
}
.book{
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px; 
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color:white;
    color:#353535; 
}
.home-title{
    color: black;
    font-family: "Abril Fatface", 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top:10px ;
}
#background{
    height: 725px;
    background-color:white;
}
.join{
    background-color:#284b63;
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding: 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover{
    background-color: #353535;
    color:white
}
.logo{
    width: 80px;
    
}
#logo_link{
    padding-top: 5px;
}
header{
    text-align: left;
}
.msg{
    background-color:white;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color:#284b63;
    margin: 0;
}
.msg p{
    color:#284b63;
    font-size: .8em;
    padding-bottom: 15px;
    
}
#hero-msg h1{
    text-align:center ;
}
#hero-img{
    width: 100%;
}
.icon{
    width: 80px; 
    padding-top: 10px;
    
}
h4{
    color:#3c6e71
}
#hero-msg h4{
    text-align: center
}
.rivers-card,.camping-card,.rapids-card{
    margin: 200px 0;


}
.card img{
   border: 10px;
   border-color:#000;
}
.mountains{
    width: 50%;
    

    

}
main section .card img{
    box-sizing: border-box;
}

.button-box{
    text-align: center;
    color: #000;
}
main select{
    text-align: center;
}
footer{
    text-align: left;
    background-color:#3c6e71;
    color: white;
    font-size:xx-small;
    padding: 25px;
    margin-top: 200px;
}
footer a{
    color:white;
    text-decoration: none;
    padding-top: 15px;
    

}
footer a:hover{
color:#284b63;
text-decoration: underline;
}
footer p{
    font-size: 1.2em;
    text-decoration: underline;
    padding: 50px;
    font-size: 22px;
}